<html>
<body>
<link href="/static/style1.css" rel="stylesheet"/>

<div id="main">
     <nav>
     <img src="/static/image/logo2.png" width="200" height="80"/>
           <ul>
                 <li><a href="/grocery/home">home</a></li>
                <li><a href="../products">products</a></li>
                <li><a href="../offers">offers</a></li>
                <li><a href="#">about</a></li>
                <li><a href="../contacts">contacts</a></li>
                
                <li><a href="../terms">terms</a></li>
                <li><a href="../feedback">feedback</a></li>
            </ul>
            </nav></div> 
<p class="paragraph">About Us:</p>
<p class="paragraph1">What is Grocerbasket.com ?<br>_____________________________</p>
<p class="paragraph2">- Grocerbasket is one of the largest online grocery store.<br>
                      - It contain about 1000+ products and 100+ brands.<br>
                      - From rice,wheat,spices,oil,chocolate,snackes and many<br>  more,all products are avaliable,SHOP NOW!!<br>
                      - Choose products from wide range of options,exclusively<br>  handpicked to help you find the best quality avalible at lowest prices.<br>
                      - Your order order will be delivered right to your door steps,<br>  anywhere in Raipur and Bhilai.<br>
                      - You can pay online using debit/credit card or cash.<br></p>
<p class="paragraph3">Why should you use Grocerbasket ?<br>____________________________</p>
<p class="paragraph4">- Grocerbasket gives an easy relaxed way of browsing and<br>  shopping for groceries.<br>
                      - No more getting stuck in traffic jams,paying for parking,<br>  standing in queues and carring heavy bags - get everything right<br>  at your door steps.<br>
                      - Now shopping becomes easy as every product of your<br>  shopping list is now available online at grocerbasket.</p>                      
<p class="paragraph5">Where do we operate ?<br>___________________________</p>
<p class="paragraph6">Currently we operate in following places-<br>- RAIPUR<br>- BHILAI</p>
<p class="paragraph7">How to order ?<br>____________________________</p>
<p class="paragraph8">- browse for grocerbasket.com<br>- click on explore articles<br>- search for products<br>- add items to your shopping basket<br>- select payment type and place orderr<br>- your order will reach in 24hrs<br><br><br></p>
</body>
</html>