<html>
<body>
<link href="/static/style6.css" rel="stylesheet"/>
<link rel='icon' type='image/png' href ="/static/image/logo3.png"/>
<div id="main">
     <nav>
     <img src="/static/image/logo2.png" width="200" height="80"/>
           <ul>
                 <li><a href="/grocery/home">home</a></li>
                <li><a href="../products">products</a></li>
                <li><a href="../offers">offers</a></li>
                <li><a href="../about">about</a></li>
                <li><a href="../contacts">contacts</a></li>
                
                <li><a href="../terms">terms</a></li>
                <li><a href="#">feedback</a></li>
            </ul>
            </nav></div> 
<p class="paragraph">Feedback:</p>
<div class="box">
                <form action="/grocery/feedback/" method="post">
                     {% csrf_token %}
                     <input type="text" name="Name" class="form-control" placeholder="Enter your name" required><br>
                     <input type="number" name="Contact_no" class="form-control" placeholder="Enter your phone no." required><br>
                     <input type="email" name="Email_id" class="form-control" placeholder="Enter your Email id" required><br>
                     <textarea type="message" name="Comment" class="form-control" placeholder="Comments" rows="4"  required></textarea><br>
                     <input type="submit" name="" class="form-control submit" value="SUBMIT">
                     </form></div>
</body>
</html>
