
{% extends 'base.html' %}
{% block content %}
<div id="main">
     <nav>
     <img src="/static/image/logo2.png" width="200" height="80"/>request
           <ul>
                <li><a href="#">home</a></li>
                <li><a href="../products">products</a></li>
                <li><a href="../offers">offers</a></li>
                <li><a href="../about">about</a></li>
                <li><a href="../contacts">contacts</a></li>
                
                <li><a href="../terms">terms</a></li>
                <li><a href="../feedback">feedback</a></li>
            </ul>
     </nav></div> 
<p class="paragraph1">Welcome To</p>
<p class="paragraph2">Online Grocery Shopping Website</p>           
<p class="paragraph3">"Nothing haunts us like the things we didn't buy"</p>
<a href="/grocery/explore"><button>Explore articles</button></a>          

{% endblock %}
