<html>
<body>
<link href="/static/style3.css" rel="stylesheet"/>
<link rel='icon' type='image/png' href ="/static/image/logo3.png"/>

<div id="main">
     <nav>
     <img src="/static/image/logo2.png" width="200" height="80"/>
           <ul>
                <li><a href="/grocery/home">home</a></li>
                <li><a href="../products">products</a></li>
                <li><a href="#">offers</a></li>
                <li><a href="../about">about</a></li>
                <li><a href="../contacts">contacts</a></li>
                
                <li><a href="../terms">terms</a></li>
                <li><a href="../feedback">feedback</a></li>
            </ul>
            </nav></div>
<div class="topleft">
<img src="/static/image/logosale.png" width="300" height="300">
</div>
<div class="slider"></div>
<div class="top">
<img src="/static/image/off1.jpg" width="300" height="300">
<img src="/static/image/off2.jpg" width="300" height="300">
<img src="/static/image/off3.png" width="300" height="300">
<img src="/static/image/off4.jpg" width="300" height="300">
</div>
           
<div id="slider">
<figure>
                <img src="/static/image/imagoff1.jpg">
                <img src="/static/image/imagoff2.jpg">
                <img src="/static/image/imagoff3.jpg">
                <img src="/static/image/imagoff4.jpg">
                
                
                
                
</figure>

</div>        
</body>
</html>