<html>
<body>
<link href="/static/style4.css" rel="stylesheet"/>
<link rel='icon' type='image/png' href ="/static/image/logo3.png"/>
<div id="main">
     <nav>
     <img src="/static/image/logo2.png" width="200" height="80"/>
           <ul>
                 <li><a href="/grocery/home">home</a></li>
                <li><a href="#">products</a></li>
                <li><a href="../offers">offers</a></li>
                <li><a href="../about">about</a></li>
                <li><a href="../contacts">contacts</a></li>
                
                <li><a href="../terms">terms</a></li>
                <li><a href="../feedback">feedback</a></li>
                
            </ul>
            </nav></div> 
<p class="paragraph2">Products Available:</p>
<p class="paragraph3">Grains,pulses,lentils,spices,flours & oils-<br>______________________________</p>
<p class="paragraph4">- rice<br>- wheat<br>- corn<br>- oats<br>- poha/chivda<br>- rava/sooji<br>- soyabean chunks<br>- kabuli chana<br>- kala chana<br>- rajma<br>- matar<br>- black eyed peas
                      <br>- masoor dal<br>- moong dal<br>- arhar dal<br>- chana dal<br>- mixed dal<br>
                          - urd dal<br>- salt<br>- black salt<br>- tumeric powder<br>- red chilli powder<br>- jeera<br>- jeera powder<br>- garam masala
                          <br>- mustard seed<br>- coriander seed<br>- coirander powder<br>- edible soda<br>- sabji masala<br>- chole masala<br>
                          - chaat masala<br>- pani puri masala<br>- chicken masala<br>- rice flour<br>- wheat flour<br>- corn flour
                          <br>- maida<br>- besan<br>- sattu<br>- sunflower oil<br>- soyabean oil<br>- mustard oil<br></p>
<p class="paragraph5">Bakery,dairy,snacks,nuts & beverages-<br>_____________________________</p> 
<p class="paragraph6">- bread<br>- buns<br>- rusk/toast<br>- cookies<br>- milk<br>- curd<br>- paneer<br>- butter<br>- cheese<br>
                                  - condensed milk<br>- biscuits<br>- namkeens<br>- noodles<br>- sauce<br>- chocolates/candies
                                  <br>- munches<br>- coconuts<br>- groundnuts<br>- walnuts<br>- cashewnuts<br>- almonds<br>
                                  - dried grapes/raisins<br>- water<br>- cold drinks<br>- fruit juice<br>- milk shakes<br>
                                  - tea packets<br>- coffee packets<br><br><br></p>                                                
</body>
</html>
